.App {
  text-align: center;
  --start-margin: -1000px;
  --drop-time: 0.5s;
  --bounce-time: 0.3s;
  --drop2-time: 0.8s;
}

@keyframes drop {
  0% {margin-top: var(--start-margin);}
  100% {margin-top: 0px;}
}
 
@keyframes bounce {
  0% {margin-top: 0px;}
  100% {margin-top: -200px;}
}

@keyframes drop2 {
  0% {margin-top: -200px;}
  100% {margin-top: 0px;}
}


.red {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: red;
  /* display: inline-block; */
  margin-top: 5px;
  margin-left: 5px;
  position: absolute;
  animation: drop var(--drop-time) ease-in, bounce var(--bounce-time) var(--drop-time) ease-out, drop2 var(--bounce-time) var(--drop2-time) ease-in;
    animation-iteration-count: 1, 1, 1;
}

.yellow {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: yellow;
  /* display: inline-block; */
  margin-top: 5px;
  margin-left: 5px;
  position: absolute;
  animation: drop 0.5s ease-in, bounce 0.3s 0.5s ease-out, drop2 0.3s 0.8s ease-in;
  animation-iteration-count: 1, 1, 1;

}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  vertical-align: middle;
  line-height: 100px;
  font-size: 80px;
  pointer-events: none;
  align-items: center;
}

.column {
  align-items: center;
  display: inline-block;
  vertical-align: top;
}

.board {
  margin-top: 500px;
}