.App {
  text-align: center;
  --start-margin: -700px;
  --bounce-height: -200px;
  --drop-time: 0.45s;
  --bounce-time: 0.2s;
  --drop2-time: 0.65s;
  --ratio: 1;
}

.anc {
  margin-top: 100px;
}

@keyframes drop {
  0% {margin-top: var(--start-margin);}
  100% {margin-top: 0px;}
}
 
@keyframes bounce {
  0% {margin-top: 0px;}
  100% {margin-top: calc(var(--bounce-height) * var(--ratio));}
}

@keyframes drop2 {
  0% {margin-top: calc(var(--bounce-height) * var(--ratio));}
  100% {margin-top: 0px;}
}

.red {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: red;
  /* display: inline-block; */
  margin-top: 5px;
  margin-left: 5px;
  position: absolute;
  animation: drop calc(var(--drop-time) * var(--ratio)) ease-in, 
  bounce calc(var(--bounce-time) * var(--ratio)) calc(var(--drop-time) * var(--ratio)) ease-out, 
  drop2 calc(var(--bounce-time) * var(--ratio)) calc(var(--drop2-time) * var(--ratio)) ease-in;
  animation-iteration-count: 1, 1, 1;
}

.yellow {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: yellow;
  /* display: inline-block; */
  margin-top: 5px;
  margin-left: 5px;
  position: absolute;
  animation: drop calc(var(--drop-time) * var(--ratio)) ease-in, 
  bounce calc(var(--bounce-time) * var(--ratio)) calc(var(--drop-time) * var(--ratio)) ease-out, 
  drop2 calc(var(--bounce-time) * var(--ratio)) calc(var(--drop2-time) * var(--ratio)) ease-in;
  animation-iteration-count: 1, 1, 1;

}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  vertical-align: middle;
  line-height: 100px;
  font-size: 80px;
  pointer-events: none;
  align-items: center;
}

.column {
  align-items: center;
  display: inline-block;
  vertical-align: top;
}

.board {
  margin-top: 100px;
}